/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 100px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
    color: #9c6f44;
    font-weight: bold;
}
#lblText {
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    text-align :center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-container button {
    width: 48%;
    background: #007bff;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 50px; 
 }

.btn-existing,
.btn-new {
    border: none;
    color: white;
    margin-top: auto;
    font-size: 17px;
    padding: 5px 5px;
}

.btn-existing {
    background-color: #f44336; 
}

.btn-new {
    background-color: #4CAF50; 
}
