/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 400px;
    margin: 100px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

h2 {
    text-align: center;
    color: #9c6f44;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 20px); /* Adjust width to include padding */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.error-message {
    color: red;
    margin-bottom: 10px; /* Add some space below the error message */
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

    .button-container button {
        flex: 1; /* Make buttons flexible to share space equally */
        background: #007bff;
        color: #fff;
        padding: 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px; /* Adjust font size */
        transition: background-color 0.3s ease; /* Add transition effect */
        margin:10px;
    }

        .button-container button:hover {
            background-color: #0056b3; /* Darken background on hover */
        }
