<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<add key="LogFolderPath" value="C:\Users\tanishkaf\Desktop\SchoolCRUD\LogFileFolder" />
		
		<add key="logInFile" value="true"/>
		<add key="logInDB" value="True"/>
		
		<add key="StudentCSVFolderPath" value="C:\Users\tanishkaf\Desktop\SchoolCRUD\CSVDetails\StudentDetailsCSV" />
		<add key="ClassCSVFolderPath" value="C:\Users\tanishkaf\Desktop\SchoolCRUD\CSVDetails\ClassDetailsCSV" />
		<add key="CourseCSVFolderPath" value="C:\Users\tanishkaf\Desktop\SchoolCRUD\CSVDetails\CourseDetailsCSV.csv" />
		<add key="EnrollmentCSVFolderPath" value="C:\Users\tanishkaf\Desktop\SchoolCRUD\CSVDetails\EnrollmentDetailsCSV.csv" />

		<add key="StudentExcelFolderPath" value="C:\Users\tanishkaf\Desktop\SchoolCRUD\ExcelDetailsFolder\StudentDetailsExcel" />
		<add key="ClassExcelFolderPath" value="C:\Users\tanishkaf\Desktop\SchoolCRUD\ExcelDetailsFolder\ClassDetailsExcel" />
		<add key="CourseExcelFolderPath" value="C:\Users\tanishkaf\Desktop\SchoolCRUD\ExcelDetailsFolder\CourseDetailsExcel" />
		<add key="EnrollmentExcelFolderPath" value="C:\Users\tanishkaf\Desktop\SchoolCRUD\ExcelDetailsFolder\EnrollmentDetailsExcel" />
		
	</appSettings>

	<connectionStrings>
		<add name="MyConnectionString"
			connectionString="Data Source=;Initial Catalog=school;Integrated Security=SSPI;"
			providerName="System.Data.SqlClient" />

		<add name="SCHOOLEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SCHOOL;integrated security=True;multipleactiveresultsets=True;encrypt=True;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>


	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>	
	
</configuration>