@model  AirportFuelManagement.ViewModel.AllViewModel.Airport

<div id="airportForm">
    <div class="form-group">
        <label for="AirportID">Airport ID:</label>
        <input type="text" id="AirportID" name="AirportID" placeholder="Enter Airport ID" class="form-control" />
    </div>

    <div class="form-group">
        <label for="AirportName">Airport Name:</label>
        <input type="text" id="AirportName" name="AirportName" placeholder="Enter Airport Name" class="form-control" />
    </div>

    <div class="form-group">
        <label for="FuelCapacity">Fuel Capacity:</label>
        <input type="text" id="FuelCapacity" name="FuelCapacity" class="form-control" placeholder="Enter Fuel Capacity" />
    </div>
        <button id="submitAirport" class="btn btn-primary">Submit</button>
    </div>

    <script src="~/Scripts/airport-list.js"></script>
