
@{
    ViewBag.Title = "LogInView";
}
<!DOCTYPE html>
<html>
<head>
    <title>LogIn</title>
    <link href="~/Content/LogIn.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2>LOG IN</h2>
        @using (Html.BeginForm("ValidateUser", "LogIn", FormMethod.Post))
        {
            <p>
                <label for="txtEmail">Email ID:</label>
                <input type="email" id="txtEmail" class="form-control" name="email" />
            </p>
            <p>
                <label for="txtPassword">Password:</label>
                <input type="password" id="txtPassword" class="form-control" name="password" />
            </p>
            <span id="lblError" style="color: red;">@ViewBag.Error</span>
            <div class="button-container">
                <button type="submit" id="btnSignUp" formaction="@Url.Action("SignUp", "LogIn")">SignUp</button>
                <button type="submit" id="btnLogin">LogIn</button>
            </div>
        }
    </div>
</body>
</html>
