@{
    Layout = null; 
}

<!DOCTYPE html>

<html>

<head>
    <title>LogIn</title>
    <link href="~/Content/LogInStyleSheet.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <h2>LOG IN</h2>
        <form id="loginForm" method="post">
            <p>
                <label for="txtEmail">Email ID:</label>
                <input type="email" id="txtEmail" class="form-control" name="email" />
            </p>
            <p>
                <label for="txtPassword">Password:</label>
                <input type="password" id="txtPassword" class="form-control" name="password" />
            </p>
            <span id="lblError" style="color: red;">@ViewBag.Error</span>
            <div class="button-container">
                <button type="button" id="btnSignUp">SignUp</button>
                <button type="button" id="btnLogin">Log In</button>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/log-in.js"></script>
</body>

</html>